@import "tailwindcss";

@theme {
  --color-screen: #030a05;
  --color-panel-light: #20251c;
  --color-metal: #596050;
  --color-metal-dark: #252a22;
  --color-green: #72f77e;
  --color-green-muted: #3ca94b;
  --color-amber: #d5bd6c;
  --color-danger: #ff705f;
  --font-retro:
    "Cascadia Mono", "SFMono-Regular", Consolas, "Courier New", monospace;
}


@layer base {
  body {
    background:
      radial-gradient(circle at 50% 0%, #182016 0, transparent 42rem),
      repeating-linear-gradient(
        0deg,
        rgba(120, 255, 132, 0.018) 0,
        rgba(120, 255, 132, 0.018) 1px,
        transparent 1px,
        transparent 4px
      ),
      var(--color-screen);
  }
}
